@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("./reset.css");

/* all */
:root {
  --white: #ffffff;

  --primary-color: #9747ff;
  --secondary-color: #b18cff;

  --full-cabinet-color: #eeeeee;
  --available-cabinet-color: var(--primary-color);

  --font-color-black: #333333;
  --font-color-gray: #7b7b7b;
  --font-color-white: var(--white);

  --line-color: #bcbcbc;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  /* 일정 범위 이상의 화면 스크롤을 막기 위한 설정 */
  overflow: hidden;
}

/* row column setting */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* top navigation */
#top-nav {
  width: 100%;
  height: 80px;
  background-color: var(--primary-color);
  padding: 0 20px;
}

#logo {
  width: 122px;
  height: 35px;
}

.logo__image {
  width: 50px;
  height: 35px;
  justify-content: center;
}

.logo__title {
  font-family: "Do Hyeon", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

#menu {
  width: 90px;
  height: 40px;
}

/* page sections */
#main-page {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 80px);
}

.item-selected {
  background-color: var(--primary-color);
  color: var(--font-color-white);
}

/* left-bar */
#left-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* left navigation */
#floor-nav {
  width: 90px;
  height: 100%;
  color: var(--font-color-gray);
  font-family: "Inter", sans-serif;
  border-right: 1px solid var(--line-color);
}

.floor-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 48px;
  margin: 30px 0;
  border-radius: 10px;
}

.floor-nav__item:hover {
  background-color: var(--primary-color);
  color: var(--font-color-white);
}

/* left section navigation */
#section-nav {
  width: 240px;
  height: 100%;
  padding: 30px 0;
  color: var(--font-color-gray);
  font-family: "Inter", sans-serif;
  border-right: 1px solid var(--line-color);
}

.section-nav__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 32px;

  width: 220px;
  height: 40px;
  border-radius: 10px;
}

.section-nav__item:hover {
  background-color: var(--primary-color);
  color: var(--font-color-white);
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;

  width: calc(100vw - 90px - 240px);
  height: 100%;
  font-family: "Inter", sans-serif;
}

#location-title {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  color: var(--font-color-gray);
}

#cabinet-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 800px;
  margin: 35px 0;
}

.cabinet {
  width: 80px;
  height: 80px;
  margin: 5px 5px;
  padding: 10px;

  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
}

.full {
  color: var(--font-color-black);
  background-color: var(--full-cabinet-color);
}

.available {
  color: var(--font-color-white);
  background-color: var(--available-cabinet-color);
}

.cabinet__info,
.cabinet__username {
  width: 100%;
}

/* bottom navigation */
#tab-bar {
  width: 100%;
  height: 80px;
}

#tab-bar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;

  width: 100%;
  height: 100%;
  border-top: 1px solid var(--line-color);

  color: var(--font-color-gray);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.tab-bar__list__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 48px;
  border-radius: 10px;
}

.tab-bar__list__item:hover {
  background-color: var(--primary-color);
  color: var(--font-color-white);
}

/* responsive web */
@media (min-width: 769px) {
  #tab-bar {
    display: none;
  }
}

@media (max-width: 768px) {
  #main-page {
    height: calc(100vh - 80px - 80px);
  }

  #left-nav {
    display: none;
  }

  main {
    width: 100%;
  }

  #tab-bar {
    display: flex;
  }
}

@media (max-width: 450px) {
  .cabinet-list {
    grid-template-columns: repeat(4, 90px);
  }
}
